# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
env/
ENV/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.log
*.pid
docker-compose.override.yml

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.idea/

# OS files
.DS_Store
Thumbs.db
